selenium==4.11.2
webdriver-manager==4.0.0
requests==2.31.0
pandas==2.1.1
beautifulsoup4==4.12.2
langchain
python-dotenv
streamlit
openai
faiss-cpu
transformers
langchain_community
langchain_huggingface
groq
lxml